<div id="personal-health" class="appear hide">
  <hr>
  <h2 class='title'>Saúde</h2>
  <%= personal_fields.fields_for :personal_health do |health_fields| %>
    <div class="field">
      <%= health_fields.select :ensurance_type, ["Saúde", "Saúde 55 Mais", "Saúde Dental"],
            prompt: 'Tipo de seguro' %>
    </div>
    <div class="field">
      <%= health_fields.date_select :birthday, {
        order: [:day, :month, :year],
        with_css_classes: true,
        start_year: 0.years.ago.year,
        end_year: 100.years.ago.year,
        prompt: {day: 'Dia', month: 'Mês', year: 'Ano'}
      } %>
      <%= health_fields.label :birthday, 'Data de Nascimento' %>
    </div>
    <div class="field">
      <%= health_fields.select :gender, [["Masculino", true], ["Feminino", false]], prompt: 'Género' %>
    </div>
    <div class="field">
      <%= health_fields.text_field :activity_sector, placeholder: 'Sector de Atividade' %>
    </div>
  <% end %>
</div>
