<div id="business-part" class="appear hide">
  <hr>
  <h2 class='title'>Empresas</h2>

  <%= f.fields_for :business do |business_fields| %>
    <div class="field">
      <%= business_fields.select :category, ["Auto", "Pessoas", "Acidentes de Trabalho", "Responsabilidade Civil"], prompt: 'Categoria' %>
    </div>

    <%= render partial: 'form_business_auto', locals: {business_fields: business_fields} %>

    <%= render partial: 'form_business_people', locals: {business_fields: business_fields} %>

    <%= render partial: 'form_business_azards', locals: {business_fields: business_fields} %>

    <%= render partial: 'form_business_civil', locals: {business_fields: business_fields} %>

  <% end %>
</div>
