<div id="other-part" class="appear hide">
  <%= f.fields_for :other_information do |other_fields| %>
    <%= other_fields.text_area :body, placeholder: 'Outras informações', rows: 5 %>
  <% end %>
</div>
