<div id="business-people-part" class="appear hide">
  <hr>
  <h2 class='title'>Pessoas</h2>
  <%= business_fields.fields_for :business_person do |people_fields| %>
    <div class="field">
      <%= people_fields.select :ensurance, ["Saúde Empresas", "Acidentes Pessoais", "Viagens Empresas", "Soluções Acidentes Empresas"],
            prompt: 'Tipo de seguro' %>
    </div>

    <div id="business-people-amount" class="field hide">
      <%= people_fields.number_field :amount, placeholder: 'Número de Títulares', min: 1 %>
    </div>
  <% end %>
</div>
