<div id="personal-housing" class="appear hide">
  <hr>
  <h2 class='title'>Habitação</h2>
  <%= personal_fields.fields_for :housing do |housing_fields| %>
    <div class="field">
      <%= housing_fields.text_field :realty_type, placeholder: 'Tipo de Imóvel' %>
    </div>
    <div class="field">
      <%= housing_fields.text_field :usage, placeholder: 'Uso' %>
    </div>
    <div class="field">
      <%= housing_fields.text_field :post_code, placeholder: 'Código Postal' %>
    </div>
    <div class="field">
      <%= housing_fields.date_select :build_date, {
        order: [:day, :month, :year],
        discard_day: true,
        discard_month: true,
        with_css_classes: false,
        start_year: 0.years.ago.year,
        end_year: 100.years.ago.year,
        prompt: {day: 'Dia', month: 'Mês', year: 'Ano de Construção'}
      } %>
    </div>
    <div class="field">
      <%= housing_fields.date_select :rebuild_date, {
        order: [:day, :month, :year],
        discard_day: true,
        discard_month: true,
        with_css_classes: false,
        start_year: 0.years.ago.year,
        end_year: 100.years.ago.year,
        prompt: {day: 'Dia', month: 'Mês', year: 'Ano de reconstrução'}
      } %>
    </div>
  <% end %>
</div>
