<div id="small-business-civil-part" class="appear hide">
  <hr>
  <h2 class='title'>Património e Responsabilidades</h2>
  <%= small_business_fields.fields_for :small_responsibility do |responsibility_fields| %>
    <div class="field">
      <%= responsibility_fields.select :category, ["Seguro de Multiriscos", "Equipamentos Electrónicos", "Responsabilidade Civil", "Mercadorias"],
            prompt: 'Tipo de seguro' %>
    </div>
  <% end %>
</div>
