<div id="personal-accidents" class="appear hide">
  <hr>
  <h2 class='title'>Acidentes de Trabalho</h2>
  <%= personal_fields.fields_for :personal_work_accident do |accident_fields| %>
    <div class="field">
      <%= accident_fields.select :category, ["Empresários", "Profissionais Liberais", "Serviços Domésticos"], prompt: 'Seguro' %>
    </div>
  <% end %>
</div>
