<div id="personal-auto" class="appear hide">
  <hr>
  <h2 class='title'>Auto</h2>
  <%= personal_fields.fields_for :personal_auto do |auto_fields| %>
    <div class="field">
      <%= auto_fields.select :ensurance_type, ["Auto", "Moto"],
            prompt: 'Tipo de seguro' %>
    </div>
    <div class="field">
      <%= auto_fields.date_select :birthday, {
        order: [:day, :month, :year],
        with_css_classes: true,
        start_year: 0.years.ago.year,
        end_year: 100.years.ago.year,
        prompt: {day: 'Dia', month: 'Mês', year: 'Ano'}
      } %>
      <%= auto_fields.label :birthday, 'Data de Nascimento' %>
    </div>
    <div class="field">
      <%= auto_fields.date_select :driver_license_date, {
        order: [:day, :month, :year],
        with_css_classes: true,
        start_year: 0.years.ago.year,
        end_year: 100.years.ago.year,
        prompt: {day: 'Dia', month: 'Mês', year: 'Ano'}
      } %>
      <%= auto_fields.label :driver_license_date, 'Carta de Condução' %>
    </div>
    <div class="field">
      <%= auto_fields.text_field :license_plate, placeholder: 'Matrícula' %>
    </div>
    <div class="field">
      <%= auto_fields.text_field :post_code, placeholder: 'Código Postal' %>
    </div>
  <% end %>
</div>
