<div id="main-part" class="hide appear">
  <div class="field">
    <%= f.text_field :name, autofocus: true, placeholder: 'Nome' %>
  </div>
  <div class="field">
    <%= f.number_field :tax_id, placeholder: 'NIF' %>
  </div>
  <div class="field">
    <%= f.email_field :email, placeholder: :email %>
  </div>
  <div class="field">
    <%= f.telephone_field :phone, placeholder: 'Telefone' %>
  </div>
</div>
