<div id="business-azards-part" class="appear hide">
  <hr>
  <h2 class='title'>Acidentes de Trabalho</h2>
  <%= business_fields.fields_for :business_azard do |azard_fields| %>
    <div class="field">
      <%= azard_fields.number_field :amount, placeholder: 'Número de titulares', min: 1 %>
    </div>
    <div class="field">
      <%= azard_fields.text_field :activity_sector, placeholder: 'Setor de atividade' %>
    </div>
  <% end %>
</div>
