<div id="personal-boats" class="appear hide">
  <hr>
  <h2 class='title'>Embarcações</h2>
  <%= personal_fields.fields_for :boat do |boat_fields| %>
    <div class="field">
      <%= boat_fields.text_field :mode, placeholder: 'Modalidade' %>
    </div>
    <div class="field">
      <%= boat_fields.text_field :boat_type, placeholder: 'Tipo de Embarcação' %>
    </div>
    <div class="field">
      <%= boat_fields.number_field :build_date, placeholder: 'Ano de Construção' %>
    </div>
    <div class="field">
      <%= boat_fields.text_field :usage, placeholder: 'Tipo de Uso' %>
    </div>
  <% end %>
</div>
