<div id="business-civil-part" class="appear hide">
  <hr>
  <h2 class='title'>Responsabilidade Civil</h2>
  <%= business_fields.fields_for :business_civil do |civil_fields| %>
    <div class="field">
      <%= civil_fields.select :ensurance, ["Mercadorias Empresas", "Eq. Electrónicos Empresas", "RC Empresas"],
            prompt: 'Tipo de seguro' %>
    </div>
  <% end %>
</div>
