<%= form_for @simulation do |f| %>
  <div class="field">
    <%= f.select :category, ["Particulares", "PME", "Empresas"], prompt: 'Categoria' %>
  </div>

  <%= render partial: 'form_main', locals: {f: f} %>

  <%= render partial: 'form_personal', locals: {f: f} %>

  <%= render partial: 'form_small_business', locals: {f: f} %>

  <%= render partial: 'form_business', locals: {f: f} %>

  <%= render partial: 'form_other', locals: {f: f} %>

  <%= f.submit 'ENVIAR DADOS', class: 'button' %>
<% end %>
