<div id="small-business-auto-part" class="appear hide">
  <hr>
  <h2 class='title'>Auto</h2>
  <%= small_business_fields.fields_for :small_auto do |auto_fields| %>
    <div class="field">
      <%= auto_fields.select :ensurance, ["Auto", "Moto", "Frotas"],
            prompt: 'Tipo de seguro' %>
    </div>
  <% end %>
</div>
