<div id="small-business-part" class="hide appear">
  <hr>
  <h2 class='title'>Pequenas e Médias Empresas</h2>
  <%= f.fields_for :small_business do |small_business_fields| %>
    <div class="field">
      <%= small_business_fields.select :category, ["Auto", "Pessoas", "Acidentes Trabalho PME", "Património e Responsabilidades"], prompt: 'Tipo de Seguro' %>
    </div>

    <%= render partial: 'form_small_auto', locals: {small_business_fields: small_business_fields} %>

    <%= render partial: 'form_small_people', locals: {small_business_fields: small_business_fields} %>

    <%= render partial: 'form_small_azards', locals: {small_business_fields: small_business_fields} %>

    <%= render partial: 'form_small_responsibility', locals: {small_business_fields: small_business_fields} %>

  <% end %>
</div>
