<div id="personal-part" class="hide appear">
  <hr>
  <h2 class='title'>Particular</h2>
  <%= f.fields_for :personal do |personal_fields| %>
    <div class="field">
      <%= personal_fields.select :category, ["Auto", "Saúde", "Habitação", "Poupança", "Seguros de Vida e Acidentes Pessoais", "Acidentes de Trabalho", "Responsabilidade Civil"], prompt: 'Tipo de Seguro' %>
    </div>

    <%= render partial: 'form_personal_auto', locals: {personal_fields: personal_fields} %>

    <%= render partial: 'form_personal_health', locals: {personal_fields: personal_fields} %>

    <%= render partial: 'form_personal_housing', locals: {personal_fields: personal_fields} %>

    <%= render partial: 'form_personal_savings', locals: {personal_fields: personal_fields} %>

    <%= render partial: 'form_personal_life', locals: {personal_fields: personal_fields} %>

    <%= render partial: 'form_personal_accidents', locals: {personal_fields: personal_fields} %>

    <%= render partial: 'form_personal_responsibilities', locals: {personal_fields: personal_fields} %>

    <%= render partial: 'form_personal_boats', locals: {personal_fields: personal_fields} %>

  <% end %>
</div>
