<div id="personal-life" class="appear hide">
  <hr>
  <h2 class='title'>Seguros de Vida e Acidentes Pessoais</h2>
  <%= personal_fields.fields_for :personal_life do |life_fields| %>
    <div class="field">
      <%= life_fields.select :ensurance_type, ["Crédito Vida", "Familia", "PPR Activo", "PPR Inovação", "Poupança Jovem", "Rendimento", "Renda MAIS"],
            prompt: 'Tipo de seguro' %>
    </div>
    <div class="field">
      <%= life_fields.date_select :birthday, {
        order: [:day, :month, :year],
        with_css_classes: true,
        start_year: 100.years.ago.year,
        end_year: 0.years.ago.year,
        prompt: {day: 'Dia', month: 'Mês', year: 'Ano'}
      } %>
      <%= life_fields.label :birthday, 'Data de Nascimento' %>
    </div>
    <div class="field">
      <%= life_fields.select :gender, [["Masculino", true], ["Feminino", false]], prompt: 'Género' %>
    </div>
    <div class="field">
      <%= life_fields.text_field :career, placeholder: 'Profissão' %>
    </div>
    <div class="field">
      <%= life_fields.text_field :sector, placeholder: 'Sector' %>
    </div>
  <% end %>
</div>
