<div id="personal-savings" class="appear hide">
  <hr>
  <h2 class='title'>Poupança</h2>
  <%= personal_fields.fields_for :personal_saving do |saving_fields| %>
    <div class="field">
      <%= saving_fields.select :category, ["PPR Activo", "Renda Mais", "Garantia Mais", "Poupança Ativo"], prompt: 'Poupança' %>
    </div>
  <% end %>
</div>
