<div id="small-business-people-part" class="appear hide">
  <hr>
  <h2 class='title'>Pessoas</h2>
  <%= small_business_fields.fields_for :small_person do |person_fields| %>
    <div class="field">
      <%= person_fields.select :category, ["Saúde", "Acidentes Pessoais", "Viagens", "Soluções Acidentes", "Proteção"],
            prompt: 'Tipo de seguro' %>
    </div>

    <div id="small-business-people-amount" class="field hide">
      <%= person_fields.number_field :amount, placeholder: 'Número de Títulares', min: 1 %>
    </div>
  <% end %>
</div>
