<div id="personal-responsibilities" class="appear hide">
  <hr>
  <h2 class='title'>Responsabilidade Civil</h2>
  <%= personal_fields.fields_for :personal_responsibility do |responsibility_fields| %>
    <div class="field">
      <%= responsibility_fields.select :category, ["Caça e Armas", "RC Particulares", "Embarcações de Recreio"], prompt: 'Responsabilidade Civil' %>
    </div>
  <% end %>
</div>
