<p>Recebeu uma simulação com os seguintes dados:</p>
<p>
  <strong>Nome:</strong> <%= @simulation.name %><br>
  <strong>NIF:</strong> <%= @simulation.tax_id %><br>
  <strong>email:</strong> <%= @simulation.email %><br>
  <strong>Telefone:</strong> <%= @simulation.phone %><br>
  <strong>Categoria:</strong> <%= @simulation.category %><br>
</p>

<% if @simulation.category == 'Particulares' %>
  <hr>
  <p>
    <strong>Seguro:</strong> <%= @simulation.personal.category %><br>
  </p>

  <% if @simulation.personal.category == 'Auto' %>
    <p>
      <strong>Tipo:</strong> <%= @simulation.personal.personal_auto.ensurance_type %><br>
      <strong>Data de Nascimento:</strong> <%= l @simulation.personal.personal_auto.birthday %><br>
      <strong>Data de Carta de Condução:</strong> <%= l @simulation.personal.personal_auto.driver_license_date %><br>
      <strong>Matrícula:</strong> <%= @simulation.personal.personal_auto.license_plate %><br>
      <strong>Código Postal:</strong> <%= @simulation.personal.personal_auto.post_code %><br>
    </p>
  <% end %>

  <% if @simulation.personal.category == 'Saúde' %>
    <p>
      <strong>Tipo:</strong> <%= @simulation.personal.personal_health.ensurance_type %><br>
      <strong>Data de Nascimento:</strong> <%= l @simulation.personal.personal_health.birthday %><br>
      <strong>Género:</strong> <%= @simulation.personal.personal_health.gender_to_s %><br>
      <strong>Setor de Atividade:</strong> <%= @simulation.personal.personal_health.activity_sector %><br>
    </p>
  <% end %>

  <% if @simulation.personal.category == 'Habitação' %>
    <p>
      <strong>Tipo de Imóvel:</strong> <%= @simulation.personal.housing.realty_type %><br>
      <strong>Uso:</strong> <%= @simulation.personal.housing.usage %><br>
      <strong>Código Postal:</strong> <%= @simulation.personal.housing.post_code %><br>
      <strong>Ano de Construção:</strong> <%= @simulation.personal.housing.build_date %><br>
      <% if @simulation.personal.housing.rebuild_date %>
        <strong>Ano de Reconstrução:</strong> <%= @simulation.personal.housing.rebuild_date %><br>
      <% end %>
    </p>
  <% end %>

  <% if @simulation.personal.category == 'Poupança' %>
    <p>
      <strong>Tipo:</strong> <%= @simulation.personal.personal_saving.category %><br>
    </p>
  <% end %>

  <% if @simulation.personal.category == 'Seguros de Vida e Acidentes Pessoais' %>
    <p>
      <strong>Tipo:</strong> <%= @simulation.personal.personal_life.ensurance_type %><br>
      <strong>Data de Nascimento:</strong> <%= l @simulation.personal.personal_life.birthday %><br>
      <strong>Género:</strong> <%= @simulation.personal.personal_life.gender_to_s %><br>
      <strong>Profissão:</strong> <%= @simulation.personal.personal_life.career %><br>
      <strong>Setor de Atividade:</strong> <%= @simulation.personal.personal_life.sector %><br>
    </p>
  <% end %>

  <% if @simulation.personal.category == 'Acidentes de Trabalho' %>
    <p>
      <strong>Tipo:</strong> <%= @simulation.personal.personal_work_accident.category %><br>
    </p>
  <% end %>

  <% if @simulation.personal.category == 'Responsabilidade Civil' %>
    <p>
      <strong>Tipo:</strong> <%= @simulation.personal.personal_responsibility.category %><br>
    </p>
  <% end %>

<% elsif @simulation.category == 'PME' %>

  <hr>
  <p>
    <strong>Seguro:</strong> <%= @simulation.small_business.category %><br>
  </p>

  <% if @simulation.small_business.category == 'Auto' %>
    <p>
      <strong>Tipo:</strong> <%= @simulation.small_business.small_auto.ensurance %><br>
    </p>
  <% end %>

  <% if @simulation.small_business.category == 'Pessoas' %>
    <p>
      <strong>Tipo:</strong> <%= @simulation.small_business.small_person.category %><br>
      <% if @simulation.small_business.small_person.amount %>
        <strong>Número de Titulares:</strong> <%= @simulation.small_business.small_person.amount %><br>
      <% end %>
    </p>
  <% end %>

  <% if @simulation.small_business.category == 'Acidentes Trabalho PME' %>
    <p>
      <strong>Número de Titulares:</strong> <%= @simulation.small_business.small_azard.amount %><br>
      <strong>Setor de Atividade:</strong> <%= @simulation.small_business.small_azard.activity_sector %><br>
    </p>
  <% end %>

  <% if @simulation.small_business.category == 'Património e Responsabilidades' %>
    <p>
      <strong>Tipo:</strong> <%= @simulation.small_business.small_responsibility.category %><br>
    </p>
  <% end %>

<% elsif @simulation.category == 'Empresas' %>

  <hr>
  <p>
    <strong>Seguro:</strong> <%= @simulation.business.category %><br>
  </p>

  <% if @simulation.business.category == 'Auto' %>
    <p>
      <strong>Tipo:</strong> <%= @simulation.business.business_auto.ensurance %><br>
    </p>
  <% end %>

  <% if @simulation.business.category == 'Pessoas' %>
    <p>
      <strong>Tipo:</strong> <%= @simulation.business.business_person.ensurance %><br>
      <% if @simulation.business.business_person.amount %>
        <strong>Número de Titulares:</strong> <%= @simulation.business.business_person.amount %><br>
      <% end %>
    </p>
  <% end %>

  <% if @simulation.business.category == 'Acidentes de Trabalho' %>
    <p>
      <strong>Número de Titulares:</strong> <%= @simulation.business.business_azard.amount %><br>
      <strong>Setor de Atividade:</strong> <%= @simulation.business.business_azard.activity_sector %><br>
    </p>
  <% end %>

  <% if @simulation.business.category == 'Responsabilidade Civil' %>
    <p>
      <strong>Tipo:</strong> <%= @simulation.business.business_civil.ensurance %><br>
    </p>
  <% end %>

<% end %>


<hr>
<p>
  <strong>Outras Informações:</strong><br>
  <%= simple_format @simulation.other_information.body %>
</p>

