<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  </head>
  <body id='footer'>
    <hr>
    <div class=left>
      <p>Contactlife - Mediação de Seguros Lda.</p>
    </div>
    <div class=right>
      <p>Rua Vale de Santo António 165 1170-378 Lisboa</p>
    </div>
    <div class=center>
      <p>Tel: 21 604 81 75 | Telf: 218 143 968 | Tel: 964 716 910 | Email: contactlife.seguros@gmail.com</p>
    </div>
  </body>
</html>

