<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  </head>
  <body id='header-body'>
    <div id="header">
      <%= wicked_pdf_image_tag 'logo.png' %>
      <span id='siminfo'>
        Formulário de Contacto Número: <%= @simulation.id %>
      </span>
      <hr>
    </div>
  </body>
</html>

