<div id='new_simulation_img'>
  <%= image_tag 'main_sim.png', id: 'main-img', class: 'active' %>
  <%= image_tag 'personal.png', id: 'personal-img' %>
  <%= image_tag 'company.png', id: 'company-img' %>
  <%= image_tag 'pme.png', id: 'pme-img' %>
</div>

<div id='simulation_form'>
  <h1 class="main_title">Simulador</h1>
  <%= render 'form' %>
</div>
