/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

#thankyou {
  text-align: center;
  margin: 170px 0;
}

$accent-color: #8ad127;

.entry-content {
}

#new_simulation_img {
  width: (100%/3)*1;
  float: left;
  height: 500px;
  position: relative;

  @media only screen and (max-width: 480px) and (min-width: 321px) {
    display: none;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    &#main-img, &#pme-img, &#personal-img, &#company-img {
      opacity: 0;
      transition: opacity 1s ease-in-out;

      &.active {
        opacity: 100;
      }
    }
  }
}

#simulation_form {
  width: (100%/3)*2;
  float: left;
  padding: 0 1rem;
  @media only screen and (max-width: 480px) and (min-width: 321px) {
    width: 100%;
  }
}

#simulation_category {
}

#new_simulation {
  font-size: 0rem;

  hr {
    height: 2px;
    border-width: 0;
    color: grey;
    background-color: grey;
    margin-top: 1.5rem;
  }

  .title {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }


  .field {
    width: (100%/2);
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    position: relative;

    .error {
      border-color: red;
    }

    label {
      position: absolute;
      top: -0.85rem;
      left: 0.5rem;

      font-size: 0.85rem;
      width: 100%;

      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      &.error {
        top: initial;
        bottom: -0.45rem;
        color: red;
      }
    }
  }

  input, select, textarea {
    width: 100%;
    padding: 0 0.5rem 0 0.5rem;
    margin: 10px 0;
    height: 1.5rem;
    border-radius: (1.5rem/2);
    border-style: solid;
    border-width: 2px;
    border-color: #bbb;
    font-family: 'Open Sans', Arial, sans-serif;

    &:focus {
      border-color: $accent-color;
    }
  }

  textarea {
    height: auto;
    margin: 0 5px;
  }

  select {
    option {
      margin-top: 0.2rem;
    }

    &.day, &.month, &.year {
      width: (100% / 3);
    }
  }

  button, .button {
    padding: 1rem;
    height: 3rem;
    border-radius: (3rem/2);
    background-color: $accent-color;
    border: 0;
    color: white;

    &:hover {
      background-color: darken($accent-color, 10%);
    }
  }

  .hide {
    display: none;
  }

  #main-part, #personal-part, #personal-subpart, #auto-part, #vida-part, #other-part {
    background: white;
  }
  .appear {
    opacity: 0;
    position: relative;
    transform: translateY(-100%);
    transition-property: transform, opacity;
    transition: 0.2s ease-out;

    &.active {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}
