
$accent-color: #8ad127;

#footer {
  hr {
    margin-top: 0;
  }
}
#pdf {
}
#header-body {
  hr {
    margin-bottom: 0;
  }
}
body {
  padding: 1rem;
  padding-bottom: 0;
  padding-top: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  color: #222;
  line-height: 1.7em;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#header {
  position: relative;
  width: 100%;

  img {
    height: 100px;
  }

  #siminfo {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

hr {
  height: 1px;
  border-width: 0;
  color: $accent-color;
  background-color: $accent-color;
  margin-top: 1.5rem;
}

.left {
  width: 50%;
  float: left;
}
.right {
  float: left;
  width: 50%;
  text-align: right;
}
.center {
  width: 100%;
  text-align: center;
}
