<style type="text/css">
#afc_sidebar_4{background:#;position:fixed;top:0px;right:0px;width:160px;margin-top:200px;margin-bottom:0px;margin-left:0px;margin-right:-15px;z-index:999999;padding:10px;color:#ffffff;}
.afc_popup .img{position:absolute; top:-15px; right:-15px;}
@media screen and (min-width:481px) and (max-width:768px){
	/*.afc_popup{display:none;}*/
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
#afc_sidebar_4{display:none !important}.afc_popup{
margin:0 !important;
}
.afc_popup iframe{width:100% !important;}
}
@media only screen and (max-width: 320px) {
#afc_sidebar_4{display:none !important}
.afc_popup{
margin:0 !important;
}
.afc_popup iframe{width:100% !important;}
}
</style>
<script type="text/javascript">
	(function ($) {
		$(".afc_close_content").click(function(){
			var attr = jQuery(this).attr('data');
			if (typeof attr !== typeof undefined && attr !== false) {				
				jQuery.post("http://contactlifeseguros.com/wp-admin/admin-ajax.php", 
				{
					action:'controlImpressions',
					data:jQuery(this).attr('data')
				}, 
				function(jsontext){
							
				});
			}
			var afc_content_id = $(this).closest('div').attr('id');
			$("#"+afc_content_id).hide();
		});
	
		
	})(jQuery);

</script><!-- Custom Facebook Feed JS -->
<script type="text/javascript">
var cfflinkhashtags = "true";
</script>
 <div class="overlay" id="mainoverlayDiv"></div> 
 
                      
    <script type="text/javascript">
    
      var $n = jQuery.noConflict();  
      /* if ( $n.browser.msie && $n.browser.version >= 9 )
        {
            $n.support.noCloneEvent = true
        }*/
    
     var htmlpopup=$n("#formFormEmail").html();   
      $n("#formFormEmail").remove();
         
     $n(".shownewsletterbox").on( "click", function() {
        
          $n.fancybox({ 
             
                'overlayColor':'#000000',
                'hideOnOverlayClick':false,
                'padding': 10,
                'autoScale': true,
                'showCloseButton'   : true,
                'content' :htmlpopup,
                'transitionIn':'fade',
                'transitionOut':'elastic',
                'width':560,
                'height':360
            });
        
      });
    
                
         
      

     
       function clearInput(source, initialValue){     
           
            if(source.value.toUpperCase()==initialValue.toUpperCase())
                source.value='';
                
            return false;    
        }

        function restoreInput(source, initialValue)
        {   
            if(source.value == '')  
                source.value = initialValue;
         
            return false;    
        }    
        
       
    
    
    function submit_newsletter(){        
        
           
            var emailAdd=$n.trim($n("#youremail").val());
            var yourname=$n.trim($n("#yourname").val());
            
            var returnval=false;
            var isvalidName=false;
            var isvalidEmail=false;
            if(yourname!=""){
                
                var element=$n("#yourname").next().next();
                if(yourname.toLowerCase()=='Nome'.toLowerCase()){
                    
                    $n(element).html('<div class="image_error">Campo Obrigat&oacute;rio</div>');
                    isvalidName=false;
                }else{
                    
                        isvalidName=true;
                        $n(element).html('');
                }
            }
            else{
                    var element=$n("#yourname").next().next();
                    $n(element).html('<div class="image_error">Campo Obrigat&oacute;rio</div>');
                    emailAdd=false;
                
            }
           
           if(emailAdd!=""){
               
               
                var element=$n("#youremail").next().next();
                if(emailAdd.toLowerCase()=='Email'.toLowerCase()){
                    
                    $n(element).html('<div  class="image_error">Campo Obrigat&oacute;rio</div>');
                    isvalidEmail=false;
                }else{
                    
                       var JsRegExPatern = /^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/

                        if(JsRegExPatern.test(emailAdd)){
                            
                            isvalidEmail=true;
                            $n(element).html('');    
                            
                        }else{
                            
                             var element=$n("#youremail").next().next();
                             $n(element).html('<div class="image_error">Por favor introduza um endere&ccedil;o v&aacute;lido</div>');
                             isvalidEmail=false;
                            
                        }
                        
                }
               
           }else{
               
                    var element=$n("#yourname").next().next();
                    $n(element).html('<div class="image_error">Campo Obrigat&oacute;rio</div>');
                    isvalidEmail=false;
               
           } 
            
            if(isvalidName==true && isvalidEmail==true){
                $n(".AjaxLoader").show();
                $n('#mysuccess_msg').html('');
                $n('#mysuccess_msg').hide();
                $n('#myerror_msg').html('');
                $n('#myerror_msg').hide();
                
                var nonce ='51c94246ca';
                var url = 'http://contactlifeseguros.com/wp-content/plugins/email-subscribe/';  
                var email=$n("#youremail").val(); 
                var name =$n("#yourname").val();  
                var str="action=store_email&email="+email+'&name='+name+'&sec_string='+nonce;
                $n.ajax({
                   type: "POST",
                   url: 'http://contactlifeseguros.com/wp-admin/admin-ajax.php',
                   data:str,
                   async:true,
                   success: function(msg){
                       if(msg!=''){
                           
                             var result=msg.split("|"); 
                             if(result[0]=='success'){
                                 
                                 $n(".AjaxLoader").hide();
                                 $n('#mysuccess_msg').html(result[1]);
                                 $n('#mysuccess_msg').show();  
                                 
                                 setTimeout(function(){
                                  
                                     $n.fancybox.close();


                                     
                                },2000);
                                 
                             }
                             else{
                                   $n(".AjaxLoader").hide(); 
                                   $n('#myerror_msg').html(result[1]);
                                   $n('#myerror_msg').show();
                             }
                           
                       }
                 
                    }
                }); 
                
            }
            
            
        
      
              
      }
    </script>
    
<script>jQuery(document).ready(function(){jQuery(".kiwi-logo-carousel-default").bxSlider({mode:"horizontal",speed:500,slideMargin:50,infiniteLoop:true,hideControlOnEnd:false,captions:false,ticker:false,tickerHover:true,adaptiveHeight:false,responsive:true,pager:false,controls:false,autoControls:false,minSlides:2,maxSlides:4,moveSlides:1,slideWidth:225,auto:true,pause:4000,useCSS:false});jQuery(".kiwi-logo-carousel-partners").bxSlider({mode:"horizontal",speed:500,slideMargin:0,infiniteLoop:true,hideControlOnEnd:false,captions:false,ticker:false,tickerHover:false,adaptiveHeight:false,responsive:true,pager:false,controls:true,autoControls:false,minSlides:1,maxSlides:4,moveSlides:1,slideWidth:200,auto:true,pause:4000,useCSS:false});});</script><style type="text/css" id="et-builder-advanced-style">
				
.et_pb_image_0 { margin-left: 0; }
			</style><style type="text/css" id="et-builder-page-custom-style">
				 .et_pb_section { background-color: ; }
			</style><script>window._popup_data = {"ajaxurl":"http:\/\/contactlifeseguros.com\/wp-admin\/admin-ajax.php","do":"get_data","ajax_data":{"orig_request_uri":"\/sinistros\/"}};</script><script type="text/javascript" src="http://contactlifeseguros.com/wp-content/themes/Divi/includes/builder/scripts/frontend-builder-global-functions.js?ver=2.7.5"></script>
<script type="text/javascript" src="http://contactlifeseguros.com/wp-content/plugins/custom-facebook-feed/js/cff-scripts.js?ver=2.3.10"></script>
<script type="text/javascript" src="http://contactlifeseguros.com/wp-content/themes/Divi/includes/builder/scripts/jquery.mobile.custom.min.js?ver=2.7.5"></script>
<script type="text/javascript" src="http://contactlifeseguros.com/wp-content/themes/Divi/js/custom.js?ver=2.7.5"></script>
<script type="text/javascript" src="http://contactlifeseguros.com/wp-content/themes/Divi/includes/builder/scripts/jquery.fitvids.js?ver=2.7.5"></script>
<script type="text/javascript" src="http://contactlifeseguros.com/wp-content/themes/Divi/includes/builder/scripts/waypoints.min.js?ver=2.7.5"></script>
<script type="text/javascript" src="http://contactlifeseguros.com/wp-content/themes/Divi/includes/builder/scripts/jquery.magnific-popup.js?ver=2.7.5"></script>
<script type="text/javascript">
/* <![CDATA[ */
var et_pb_custom = {"ajaxurl":"http:\/\/contactlifeseguros.com\/wp-admin\/admin-ajax.php","images_uri":"http:\/\/contactlifeseguros.com\/wp-content\/themes\/Divi\/images","builder_images_uri":"http:\/\/contactlifeseguros.com\/wp-content\/themes\/Divi\/includes\/builder\/images","et_frontend_nonce":"df1b6b5841","subscription_failed":"Please, check the fields below to make sure you entered the correct information.","et_ab_log_nonce":"ed68b83c86","fill_message":"Please, fill in the following fields:","contact_error_message":"Please, fix the following errors:","invalid":"Invalid email","captcha":"Captcha","prev":"Prev","previous":"Previous","next":"Next","wrong_captcha":"You entered the wrong number in captcha.","is_builder_plugin_used":"","is_divi_theme_used":"1","widget_search_selector":".widget_search","is_ab_testing_active":"","page_id":"68","unique_test_id":"","ab_bounce_rate":"5","is_cache_plugin_active":"no","is_shortcode_tracking":""};
/* ]]> */
</script>
<script type="text/javascript" src="http://contactlifeseguros.com/wp-content/themes/Divi/includes/builder/scripts/frontend-builder-scripts.js?ver=2.7.5"></script>
<script type="text/javascript" src="http://contactlifeseguros.com/wp-content/plugins/wordpress-popup/js/public.min.js?ver=4.4.4"></script>
<script type="text/javascript" src="http://contactlifeseguros.com/wp-includes/js/wp-embed.min.js?ver=4.4.4"></script>
<script type="text/javascript" src="http://contactlifeseguros.com/wp-content/plugins/kiwi-logo-carousel/third-party/jquery.bxslider/jquery.bxslider.js?ver=4.4.4"></script>
	<p style="display:none;"><a href="http://www.themekiller.me/" title="themekiller" rel="follow"></a><a href="http://www.tenlister.com/" title="Tenlister" rel="follow"></a></p>

<div id="fancybox-tmp"></div><div id="fancybox-loading_"><div></div></div><div id="fancybox-overlay" style="cursor: auto; height: 3721px; width: 654px;"></div><div id="fancybox-wrap"><div id="fancybox-outer"><div id="fancybox-content"></div><a id="fancybox-close"></a><div id="fancybox-title"></div><a href="javascript:;" id="fancybox-left_"><span class="fancy-ico" id="fancybox-left-ico_"></span></a><a href="javascript:;" id="fancybox-right_"><span class="fancy-ico" id="fancybox-right-ico_"></span></a></div></div><script aria-hidden="true" type="application/x-lastpass" id="hiddenlpsubmitdiv" style="display: none;"></script><script>try{(function() { for(var lastpass_iter=0; lastpass_iter < document.forms.length; lastpass_iter++){ var lastpass_f = document.forms[lastpass_iter]; if(typeof(lastpass_f.lpsubmitorig2)=="undefined"){ lastpass_f.lpsubmitorig2 = lastpass_f.submit; if (typeof(lastpass_f.lpsubmitorig2)=='object'){ continue;}lastpass_f.submit = function(){ var form=this; var customEvent = document.createEvent("Event"); customEvent.initEvent("lpCustomEvent", true, true); var d = document.getElementById("hiddenlpsubmitdiv"); if (d) {for(var i = 0; i < document.forms.length; i++){ if(document.forms[i]==form){ if (typeof(d.innerText) != 'undefined') { d.innerText=i.toString(); } else { d.textContent=i.toString(); } } } d.dispatchEvent(customEvent); }form.lpsubmitorig2(); } } }})()}catch(e){}</script>
