<footer id="main-footer">
				
<div class="container">
	<div id="footer-widgets" class="clearfix">
	<div class="footer-widget"><div id="nav_menu-2" class="fwidget et_pb_widget widget_nav_menu"><h4 class="title">Particulares</h4><div class="menu-particulares-container"><ul id="menu-particulares" class="menu"><li id="menu-item-1039" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1039"><a href="http://contactlifeseguros.com/particulares-3/auto/auto/">Auto</a></li>
<li id="menu-item-1040" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1040"><a href="http://contactlifeseguros.com/particulares-3/auto/moto/">Moto</a></li>
<li id="menu-item-1041" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1041"><a href="http://contactlifeseguros.com/particulares-3/saude/saude/">Saúde</a></li>
<li id="menu-item-1042" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1042"><a href="http://contactlifeseguros.com/particulares-3/saude/saude-55/">Saúde 55 Mais</a></li>
<li id="menu-item-1043" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1043"><a href="http://contactlifeseguros.com/particulares-3/habitacao/casa/">Casa</a></li>
<li id="menu-item-1044" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1044"><a href="http://contactlifeseguros.com/particulares-3/habitacao/condominio/">Condomínio</a></li>
</ul></div></div> <!-- end .fwidget --></div> <!-- end .footer-widget --><div class="footer-widget"><div id="nav_menu-3" class="fwidget et_pb_widget widget_nav_menu"><h4 class="title">PMEs</h4><div class="menu-pme-container"><ul id="menu-pme" class="menu"><li id="menu-item-1046" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1046"><a href="http://contactlifeseguros.com/pme/auto/auto-frotas/">Auto Frotas</a></li>
<li id="menu-item-1047" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1047"><a href="http://contactlifeseguros.com/pme/auto/moto-frotas/">Moto Frotas</a></li>
<li id="menu-item-1045" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1045"><a href="http://contactlifeseguros.com/pme/acidentes-de-trabalho-pme/">Acidentes de Trabalho PME</a></li>
<li id="menu-item-1048" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1048"><a href="http://contactlifeseguros.com/pme/pessoas/saude-pme/">Saúde PME</a></li>
<li id="menu-item-1049" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1049"><a href="http://contactlifeseguros.com/pme/pessoas/acidentes-pessoais-pme/">Acidentes Pessoais PME</a></li>
</ul></div></div> <!-- end .fwidget --></div> <!-- end .footer-widget --><div class="footer-widget"><div id="nav_menu-4" class="fwidget et_pb_widget widget_nav_menu"><h4 class="title">Empresas</h4><div class="menu-empresas-container"><ul id="menu-empresas" class="menu"><li id="menu-item-1050" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1050"><a href="http://contactlifeseguros.com/empresas-2/auto/automovel-frotas-empresas/">Automóvel Frotas Empresas</a></li>
<li id="menu-item-1051" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1051"><a href="http://contactlifeseguros.com/empresas-2/auto/moto-frotas-empresas/">Moto Frotas Empresas</a></li>
<li id="menu-item-1052" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1052"><a href="http://contactlifeseguros.com/empresas-2/pessoas/saude-empresas/">Saúde Empresas</a></li>
<li id="menu-item-1053" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1053"><a href="http://contactlifeseguros.com/empresas-2/pessoas/acidentes-pessoais-empresas/">Acidentes Pessoais Empresas</a></li>
<li id="menu-item-1054" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1054"><a href="http://contactlifeseguros.com/empresas-2/acidentes-de-trabalho-empresas/acidentes-de-trabalho-empresas/">Acidentes de Trabalho Empresas</a></li>
</ul></div></div> <!-- end .fwidget --></div> <!-- end .footer-widget --><div class="footer-widget last"><div id="nksnewslettersubscriber-2" class="fwidget et_pb_widget nksnewslettersubscriber"><h4 class="title">Subscreva a nossa Newsletter</h4> 
        <div class="filed_57af472301f75_AjaxLoader ajaxLoaderWidget" id="filed_57af472301f75_AjaxLoader"><img src="http://contactlifeseguros.com/wp-content/plugins/email-subscribe/images/AjaxLoader.gif">Por Favor Aguarde...</div>
         <div class="filed_57af472301f75_myerror_msg myerror_msg" id="filed_57af472301f75_myerror_msg"></div>         
         <div class="filed_57af472301f75_mysuccess_msg mysuccess_msg" id="filed_57af472301f75_mysuccess_msg"></div>
       <div class="Nknewsletter_description">Fique a para de todas as novidades e garanta a segurança do que é realmente importante!</div>
         <div class="Nknewsletter-widget">
             <input type="text" name="filed_57af472301f75_youremail" id="filed_57af472301f75_youremail" class="Nknewsletter_email" value="E-mail" onfocus="return clearInput(this,'E-mail');" onblur="restoreInput(this,'E-mail')">
             <div class="" id="filed_57af472301f75_errorinput_email"></div>
             <div class="Nknewsletter_space" id="filed_57af472301f75_email_Nknewsletter_space"></div>
             <input type="text" name="filed_57af472301f75_yourname" id="filed_57af472301f75_yourname" class="Nknewsletter_name" value="Nome" onfocus="return clearInput(this,'Nome');" onblur="restoreInput(this,'Nome')">
             <div class="errorinput_widget" id="filed_57af472301f75_errorinput_name"></div>
             <div class="Nknewsletter_space" id="filed_57af472301f75_name_Nknewsletter_space"></div>
             <input class="Nknewsletter_space_submit" type="submit" value="Subscrever" onclick="return fun57af472301fb1_submit_newsletter();" name="filed_57af472301f75_submit">
         </div>
 <script>
     
    function fun57af472301fb1_submit_newsletter(){        
        
           
            var emailAdd=$n.trim($n("#filed_57af472301f75_youremail").val());
            var yourname=$n.trim($n("#filed_57af472301f75_yourname").val());
            
            var returnval=false;
            var isvalidName=false;
            var isvalidEmail=false;
            if(yourname!=""){
                
                var element=$n("#filed_57af472301f75_yourname").next().next();
                if(yourname.toLowerCase()=='Nome'.toLowerCase()){
                    
                    $n(element).html('<div class="image_error">Campo Obrigatório.</div>');
                    $n("#filed_57af472301f75_name_Nknewsletter_space").css( { marginBottom : "0px" } );
                    isvalidName=false;
                }else{
                    
                        isvalidName=true;
                        $n(element).html('');
                        $n("#filed_57af472301f75_name_Nknewsletter_space").css( { marginBottom : "20px" } );
                }
            }
            else{
                    var element=$n("#filed_57af472301f75_yourname").next().next();
                    $n(element).html('<div class="image_error">Campo Obrigatório.</div>');
                    $n("#filed_57af472301f75_name_Nknewsletter_space").css( { marginBottom : "0px" } );
                    emailAdd=false;
                
            }
           
           if(emailAdd!=""){
               
               
                var element=$n("#filed_57af472301f75_youremail").next().next();
                if(emailAdd.toLowerCase()=='E-mail'.toLowerCase()){
                    
                    $n(element).html('<div  class="image_error">Campo Obrigatório.</div>');
                    isvalidEmail=false;
                    $n("#filed_57af472301f75_email_Nknewsletter_space").css( { marginBottom : "0px" } );
                }else{
                    
                         var JsRegExPatern = /^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/
                         if(JsRegExPatern.test(emailAdd)){
                            
                            isvalidEmail=true;
                            $n("#filed_57af472301f75_email_Nknewsletter_space").css( { marginBottom : "20px" } );
                            $n(element).html('');    
                            
                        }else{
                            
                             var element=$n("#filed_57af472301f75_youremail").next().next();
                             $n(element).html('<div class="image_error">Endereço de E-Mail inválido.</div>');
                             $n("#filed_57af472301f75_email_Nknewsletter_space").css( { marginBottom : "0px" } );
                             isvalidEmail=false;
                            
                        }
                        
                }
               
           }else{
               
                    var element=$n("#filed_57af472301f75_yourname").next().next();
                    $n(element).html('<div class="image_error">Campo Obrigatório.</div>');
                    $n("#filed_57af472301f75_email_Nknewsletter_space").css( { marginBottom : "0px" } );
                    isvalidEmail=false;
               
           } 
            
            if(isvalidName==true && isvalidEmail==true){
                $n("#filed_57af472301f75_name_Nknewsletter_space").css( { marginBottom : "20px" } );
                $n("filed_57af472301f75_email_Nknewsletter_space").css( { marginBottom : "20px" } );
                
                $n("#filed_57af472301f75_AjaxLoader").show();
                $n('#filed_57af472301f75_mysuccess_msg').html('');
                $n('#filed_57af472301f75_mysuccess_msg').hide();
                $n('#filed_57af472301f75_myerror_msg').html('');
                $n('#filed_57af472301f75_myerror_msg').hide();
                
                var nonce ='51c94246ca';
                var url = 'http://contactlifeseguros.com/wp-content/plugins/email-subscribe/';  
                var email=$n("#filed_57af472301f75_youremail").val(); 
                var name =$n("#filed_57af472301f75_yourname").val();  
                var str="action=store_email&email="+email+'&name='+name+'&sec_string='+nonce;
                $n.ajax({
                   type: "POST",
                   url: 'http://contactlifeseguros.com/wp-admin/admin-ajax.php',
                   data:str,
                   async:true,
                   success: function(msg){
                       if(msg!=''){
                           
                             var result=msg.split("|"); 
                             if(result[0]=='success'){
                                 
                                 $n("#filed_57af472301f75_AjaxLoader").hide();
                                 $n('.filed_57af472301f75_mysuccess_msg').html(result[1]);
                                 $n('.filed_57af472301f75_mysuccess_msg').show(); 
                                 setTimeout(function(){
                                  
                                      $n('#filed_57af472301f75_mysuccess_msg').hide();
                                      $n('#filed_57af472301f75_mysuccess_msg').html('');
                                      $n("#filed_57af472301f75_youremail").val('E-mail');
                                      $n("#filed_57af472301f75_yourname").val('Nome');

                                     
                                },2000);
                                 
                                 
                                 
                                 
                             }
                             else{
                                   $n("#filed_57af472301f75_AjaxLoader").hide(); 
                                   $n('#filed_57af472301f75_myerror_msg').html(result[1]);
                                   $n('#filed_57af472301f75_myerror_msg').show();
                                   setTimeout(function(){
                                  
                                      $n('#filed_57af472301f75_myerror_msg').hide();
                                      $n('#filed_57af472301f75_myerror_msg').html('');
                                      
                                    

                                     
                                },2000);
                                
                             }
                           
                       }
                 
                    }
                }); 
                
            }
           
            
        
      
              
      }
    </script>
 </div> <!-- end .fwidget --></div> <!-- end .footer-widget -->	</div> <!-- #footer-widgets -->
</div>	<!-- .container -->

		
				<div id="et-footer-nav">
					<div class="container">
						<ul id="menu-footer-menu" class="bottom-nav"><li id="menu-item-1068" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1068"><a href="http://contactlifeseguros.com/sample-page/">Bem-Vindo</a></li>
<li id="menu-item-1070" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1070"><a href="http://contactlifeseguros.com/quem-somos/">Quem Somos</a></li>
<li id="menu-item-1071" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1071"><a href="http://contactlifeseguros.com/quem-somos/seguradoras/">Seguradoras</a></li>
<li id="menu-item-1072" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1072"><a href="http://contactlifeseguros.com/quem-somos/noticias/">Notícias</a></li>
<li id="menu-item-1073" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item menu-item-1073"><a href="<%= root_path %>">Simulador</a></li>
<li id="menu-item-1074" class="menu-item menu-item-type-post_type menu-item-object-page page_item page-item-68 current_page_item menu-item-1074"><a href="http://contactlifeseguros.com/sinistros/">Sinistros</a></li>
<li id="menu-item-1069" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1069"><a href="http://contactlifeseguros.com/contactos/">Contactos</a></li>
</ul>					</div>
				</div> <!-- #et-footer-nav -->

			
				<div id="footer-bottom">
					<div class="container clearfix">
				<ul class="et-social-icons">

	<li class="et-social-icon et-social-facebook">
		<a href="https://www.facebook.com/Allianz.Portugal.Contactlife/" class="icon">
			<span>Facebook</span>
		</a>
	</li>
	<li class="et-social-icon et-social-google-plus">
		<a href="https://plus.google.com/u/0/101967598014123962383/posts" class="icon">
			<span>Google</span>
		</a>
	</li>
	<li class="et-social-icon et-social-rss">
		<a href="http://contactlifeseguros.com/feed/" class="icon">
			<span>RSS</span>
		</a>
	</li>

</ul>
						<p id="footer-info">Designed by <a href="http://www.themekiller.me/" title="Premium WordPress Themes">Elegant Themes</a> | Powered by <a href="http://www.wordpress.org">WordPress</a></p>
					</div>	<!-- .container -->
				</div>
			</footer>
