<head>
  <meta charset="UTF-8" />
  <title>Simulador | Contactlife</title>
      
  
  <link rel="pingback" href="http://contactlife.blatstudio.com/xmlrpc.php" />

    <!--[if lt IE 9]>
  <script src="http://contactlife.blatstudio.com/wp-content/themes/Divi/js/html5.js" type="text/javascript"></script>
  <![endif]-->

  <script type="text/javascript">
    document.documentElement.className = 'js';
  </script>

  <link rel="alternate" type="application/rss+xml" title="Contactlife &raquo; Feed" href="http://contactlife.blatstudio.com/feed/" />
<link rel="alternate" type="application/rss+xml" title="Contactlife &raquo; Comments Feed" href="http://contactlife.blatstudio.com/comments/feed/" />
    <script type="text/javascript">
      window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"http:\/\/contactlife.blatstudio.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.4.2"}};
      !function(a,b,c){function d(a){var c,d=b.createElement("canvas"),e=d.getContext&&d.getContext("2d"),f=String.fromCharCode;return e&&e.fillText?(e.textBaseline="top",e.font="600 32px Arial","flag"===a?(e.fillText(f(55356,56806,55356,56826),0,0),d.toDataURL().length>3e3):"diversity"===a?(e.fillText(f(55356,57221),0,0),c=e.getImageData(16,16,1,1).data.toString(),e.fillText(f(55356,57221,55356,57343),0,0),c!==e.getImageData(16,16,1,1).data.toString()):("simple"===a?e.fillText(f(55357,56835),0,0):e.fillText(f(55356,57135),0,0),0!==e.getImageData(16,16,1,1).data[0])):!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g;c.supports={simple:d("simple"),flag:d("flag"),unicode8:d("unicode8"),diversity:d("diversity")},c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.simple&&c.supports.flag&&c.supports.unicode8&&c.supports.diversity||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <meta content="Divi v.2.4.6" name="generator"/><style type="text/css">
img.wp-smiley,
img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 .07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}
</style>
<link rel='stylesheet' id='bxslider-css-css'  href='http://contactlife.blatstudio.com/wp-content/plugins/kiwi-logo-carousel/third-party/jquery.bxslider/jquery.bxslider.css?ver=4.4.2' type='text/css' media='' />
<link rel='stylesheet' id='kiwi-logo-carousel-styles-css'  href='http://contactlife.blatstudio.com/wp-content/plugins/kiwi-logo-carousel/custom-styles.css?ver=4.4.2' type='text/css' media='' />
<link rel='stylesheet' id='cff-css'  href='http://contactlife.blatstudio.com/wp-content/plugins/custom-facebook-feed/css/cff-style.css?ver=2.3.10' type='text/css' media='all' />
<link rel='stylesheet' id='cff-font-awesome-css'  href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css?ver=4.2.0' type='text/css' media='all' />
<link rel='stylesheet' id='wp-email-subscription-popup-css'  href='http://contactlife.blatstudio.com/wp-content/plugins/email-subscribe/css/wp-email-subscription-popup.css?ver=4.4.2' type='text/css' media='all' />
<link rel='stylesheet' id='subscribe-popup-css'  href='http://contactlife.blatstudio.com/wp-content/plugins/email-subscribe/css/subscribe-popup.css?ver=4.4.2' type='text/css' media='all' />
<link rel='stylesheet' id='divi-fonts-css'  href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&#038;subset=latin,latin-ext' type='text/css' media='all' />
<%= stylesheet_link_tag    'divi', media: 'all' %>
<%= stylesheet_link_tag    'application', media: 'all' %>
<%= javascript_include_tag    'application', media: 'all' %>
<link rel='stylesheet' id='et-shortcodes-css-css'  href='http://contactlife.blatstudio.com/wp-content/themes/Divi/epanel/shortcodes/css/shortcodes.css?ver=3.0' type='text/css' media='all' />
<link rel='stylesheet' id='et-shortcodes-responsive-css-css'  href='http://contactlife.blatstudio.com/wp-content/themes/Divi/epanel/shortcodes/css/shortcodes_responsive.css?ver=3.0' type='text/css' media='all' />
<link rel='stylesheet' id='wpmu-animate-min-css-css'  href='http://contactlife.blatstudio.com/wp-content/plugins/wordpress-popup/css/animate.min.css?ver=4.4.2' type='text/css' media='all' />
<script type='text/javascript' src='http://contactlife.blatstudio.com/wp-includes/js/jquery/jquery.js?ver=1.11.3'></script>
<script type='text/javascript' src='http://contactlife.blatstudio.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<script type='text/javascript' src='http://contactlife.blatstudio.com/wp-content/plugins/q2w3-fixed-widget/js/q2w3-fixed-widget.min.js?ver=4.0.6'></script>
<script type='text/javascript' src='http://contactlife.blatstudio.com/wp-content/plugins/email-subscribe/js/wp-email-subscription-popup-js.js?ver=4.4.2'></script>
<script type='text/javascript' src='http://contactlife.blatstudio.com/wp-content/plugins/email-subscribe/js/subscribe-popup.js?ver=4.4.2'></script>
<link rel='https://api.w.org/' href='http://contactlife.blatstudio.com/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://contactlife.blatstudio.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://contactlife.blatstudio.com/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 4.4.2" />
<link rel="canonical" href="http://contactlife.blatstudio.com/simulador/" />
<link rel='shortlink' href='http://contactlife.blatstudio.com/?p=66' />
<link rel="alternate" type="application/json+oembed" href="http://contactlife.blatstudio.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fcontactlife.blatstudio.com%2Fsimulador%2F" />
<link rel="alternate" type="text/xml+oembed" href="http://contactlife.blatstudio.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fcontactlife.blatstudio.com%2Fsimulador%2F&#038;format=xml" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />    <style id="theme-customizer-css">
                          .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button, .woocommerce-message, .woocommerce-error, .woocommerce-info { background: #8ad127 !important; }
      #et_search_icon:hover, .mobile_menu_bar:before, .et-social-icon a:hover, .et_pb_sum, .et_pb_pricing li a, .et_pb_pricing_table_button, .et_overlay:before, .entry-summary p.price ins, .woocommerce div.product span.price, .woocommerce-page div.product span.price, .woocommerce #content div.product span.price, .woocommerce-page #content div.product span.price, .woocommerce div.product p.price, .woocommerce-page div.product p.price, .woocommerce #content div.product p.price, .woocommerce-page #content div.product p.price, .et_pb_member_social_links a:hover, .woocommerce .star-rating span:before, .woocommerce-page .star-rating span:before, .et_pb_widget li a:hover, .et_pb_filterable_portfolio .et_pb_portfolio_filters li a.active, .et_pb_filterable_portfolio .et_pb_portofolio_pagination ul li a.active, .et_pb_gallery .et_pb_gallery_pagination ul li a.active, .wp-pagenavi span.current, .wp-pagenavi a:hover, .nav-single a, .posted_in a { color: #8ad127; }
      .et_pb_contact_submit, .et_password_protected_form .et_submit_button, .et_pb_bg_layout_light .et_pb_newsletter_button, .comment-reply-link, .form-submit input, .et_pb_bg_layout_light .et_pb_promo_button, .et_pb_bg_layout_light .et_pb_more_button, .woocommerce a.button.alt, .woocommerce-page a.button.alt, .woocommerce button.button.alt, .woocommerce-page button.button.alt, .woocommerce input.button.alt, .woocommerce-page input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce-page #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button { color: #8ad127; }
      .footer-widget h4 { color: #8ad127; }
      .et-search-form, .nav li ul, .et_mobile_menu, .footer-widget li:before, .et_pb_pricing li:before, blockquote { border-color: #8ad127; }
      .et_pb_counter_amount, .et_pb_featured_table .et_pb_pricing_heading, .et_quote_content, .et_link_content, .et_audio_content { background-color: #8ad127; }
                  a { color: #8ad127; }
                          #top-header, #et-secondary-nav li ul { background-color: #8ad127; }
                                
    
          #top-menu li.current-menu-ancestor > a, #top-menu li.current-menu-item > a { color: #8ad127; }
                          #main-footer .footer-widget h4 { color: #8ad127; }
              .footer-widget li:before { border-color: #8ad127; }
                                
    
    
    @media only screen and ( min-width: 981px ) {
                                      .et_header_style_left #et-top-navigation, .et_header_style_split #et-top-navigation  { padding: 62px 0 0 0; }
        .et_header_style_left #et-top-navigation nav > ul > li > a, .et_header_style_split #et-top-navigation nav > ul > li > a { padding-bottom: 62px; }
        .et_header_style_centered #main-header .logo_container { height: 124px; }
        .et_header_style_centered #top-menu > li > a { padding-bottom: 22px; }
        .et_header_style_split .centered-inline-logo-wrap { width: 124px; margin: -124px 0; }
        .et_header_style_split .centered-inline-logo-wrap #logo { max-height: 124px; }

                    .et_header_style_centered.et_hide_primary_logo #main-header:not(.et-fixed-header) .logo_container, .et_header_style_centered.et_hide_fixed_logo #main-header.et-fixed-header .logo_container { height: 22.32px; }
                          .et-fixed-header#top-header, .et-fixed-header#top-header #et-secondary-nav li ul { background-color: #8ad127; }
                                      .et-fixed-header #top-menu li.current-menu-ancestor > a, .et-fixed-header #top-menu li.current-menu-item > a { color: #8ad127 !important; }
      
          }
    @media only screen and ( min-width: 1350px) {
      .et_pb_row { padding: 27px 0; }
      .et_pb_section { padding: 54px 0; }
      .single.et_pb_pagebuilder_layout.et_full_width_page .et_post_meta_wrapper { padding-top: 81px; }
      .et_pb_section.et_pb_section_first { padding-top: inherit; }
      .et_pb_fullwidth_section { padding: 0; }
    }
    @media only screen and ( max-width: 980px ) {
                                        }
    @media only screen and ( max-width: 767px ) {
                            }
  </style>

  
  
  <style id="module-customizer-css">
      </style>

  <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress."/>
<!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://contactlife.blatstudio.com/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen"><![endif]--><!--[if IE  8]><link rel="stylesheet" type="text/css" href="http://contactlife.blatstudio.com/wp-content/plugins/js_composer/assets/css/vc-ie8.min.css" media="screen"><![endif]--><link rel="icon" href="http://contactlife.blatstudio.com/wp-content/uploads/2016/02/logo_contact_life-11-150x150.png" sizes="32x32" />
<link rel="icon" href="http://contactlife.blatstudio.com/wp-content/uploads/2016/02/logo_contact_life-11.png" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="http://contactlife.blatstudio.com/wp-content/uploads/2016/02/logo_contact_life-11.png" />
<meta name="msapplication-TileImage" content="http://contactlife.blatstudio.com/wp-content/uploads/2016/02/logo_contact_life-11.png" />
<noscript><style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript></head>

