<header id="main-header" data-height-onload="138" data-height-loaded="true" style="top: 0px;" class="">
			<div class="container clearfix et_menu_container">
							<div class="logo_container">
					<span class="logo_helper"></span>
					<a href="http://contactlifeseguros.com/">
						<img src="http://contactlifeseguros.com/wp-content/uploads/2016/02/logo_contact_life-11-1.png" alt="Contactlife" id="logo" data-height-percentage="54" data-actual-width="450" data-actual-height="165">
					</a>
				</div>
				<div id="et-top-navigation" data-height="124" data-fixed-height="40" style="padding-left: 233px;">
											<nav id="top-menu-nav">
						<ul id="top-menu" class="nav"><li id="menu-item-100" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-100"><a href="http://contactlifeseguros.com/sample-page/">Bem-Vindo</a></li>
<li id="menu-item-78" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-78"><a href="http://contactlifeseguros.com/quem-somos/">Quem Somos</a>
<ul class="sub-menu">
	<li id="menu-item-76" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-76"><a href="http://contactlifeseguros.com/quem-somos/seguradoras/">Seguradoras</a></li>
	<li id="menu-item-90" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-90"><a href="http://contactlifeseguros.com/quem-somos/noticias/">Notícias</a></li>
	<li id="menu-item-711" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-711"><a href="http://contactlifeseguros.com/quem-somos/informacao-legal/">Informação Legal</a></li>
</ul>
</li>
<li id="menu-item-926" class="mega-menu menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-926"><a href="#">Particulares</a>
<ul class="sub-menu">
	<li id="menu-item-929" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-929"><a href="#">Auto</a>
	<ul class="sub-menu">
		<li id="menu-item-619" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-619"><a href="http://contactlifeseguros.com/particulares-3/auto/auto/">Auto</a></li>
		<li id="menu-item-620" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-620"><a href="http://contactlifeseguros.com/particulares-3/auto/moto/">Moto</a></li>
	</ul>
</li>
	<li id="menu-item-930" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-930"><a href="#">Saúde</a>
	<ul class="sub-menu">
		<li id="menu-item-622" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-622"><a href="http://contactlifeseguros.com/particulares-3/saude/saude/">Saúde</a></li>
		<li id="menu-item-623" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-623"><a href="http://contactlifeseguros.com/particulares-3/saude/saude-55/">Saúde 55 Mais</a></li>
		<li id="menu-item-624" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-624"><a href="http://contactlifeseguros.com/particulares-3/saude/saude-dental/">Saúde Dental</a></li>
	</ul>
</li>
	<li id="menu-item-931" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-931"><a href="#">Habitação</a>
	<ul class="sub-menu">
		<li id="menu-item-626" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-626"><a href="http://contactlifeseguros.com/particulares-3/habitacao/casa/">Casa</a></li>
		<li id="menu-item-627" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-627"><a href="http://contactlifeseguros.com/particulares-3/habitacao/condominio/">Condomínio</a></li>
	</ul>
</li>
	<li id="menu-item-932" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-932"><a href="#">Poupança</a>
	<ul class="sub-menu">
		<li id="menu-item-629" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-629"><a href="http://contactlifeseguros.com/particulares-3/poupanca/ppr-activo/">PPR Activo</a></li>
		<li id="menu-item-630" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-630"><a href="http://contactlifeseguros.com/particulares-3/poupanca/renda-mais/">Renda Mais</a></li>
		<li id="menu-item-631" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-631"><a href="http://contactlifeseguros.com/particulares-3/poupanca/garantia-mais/">Garantia Mais</a></li>
		<li id="menu-item-632" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-632"><a href="http://contactlifeseguros.com/particulares-3/poupanca/poupanca-ativo/">Poupança Ativo</a></li>
	</ul>
</li>
	<li id="menu-item-933" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-933"><a href="#">Seguros de Vida e Acidentes Pessoais</a>
	<ul class="sub-menu">
		<li id="menu-item-676" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-676"><a href="http://contactlifeseguros.com/particulares-3/seguros-de-vida-e-acidentes-pessoais/familia/">Família</a></li>
		<li id="menu-item-677" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-677"><a href="http://contactlifeseguros.com/particulares-3/seguros-de-vida-e-acidentes-pessoais/acidentes-pessoais/">Acidentes Pessoais</a></li>
		<li id="menu-item-678" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-678"><a href="http://contactlifeseguros.com/particulares-3/seguros-de-vida-e-acidentes-pessoais/credito-de-vida/">Crédito de Vida</a></li>
		<li id="menu-item-679" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-679"><a href="http://contactlifeseguros.com/particulares-3/seguros-de-vida-e-acidentes-pessoais/protecao-infantil/">Proteção Infantil</a></li>
	</ul>
</li>
	<li id="menu-item-934" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-934"><a href="#">Acidentes de Trabalho</a>
	<ul class="sub-menu">
		<li id="menu-item-706" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-706"><a href="http://contactlifeseguros.com/particulares-3/acidentes-de-trabalho/empresarios/">Empresários</a></li>
		<li id="menu-item-707" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-707"><a href="http://contactlifeseguros.com/particulares-3/acidentes-de-trabalho/profissionais-liberais/">Profissionais Liberais</a></li>
		<li id="menu-item-708" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-708"><a href="http://contactlifeseguros.com/particulares-3/acidentes-de-trabalho/servicos-domesticos/">Serviços Domésticos</a></li>
	</ul>
</li>
	<li id="menu-item-935" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-935"><a href="#">Responsabilidades</a>
	<ul class="sub-menu">
		<li id="menu-item-747" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-747"><a href="http://contactlifeseguros.com/particulares-3/responsabilidades/caca-e-armas/">Caça e Armas</a></li>
		<li id="menu-item-748" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-748"><a href="http://contactlifeseguros.com/particulares-3/responsabilidades/rc-particulares/">RC Particulares</a></li>
		<li id="menu-item-749" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-749"><a href="http://contactlifeseguros.com/particulares-3/responsabilidades/embarcacoes-de-recreio/">Embarcações de Receiro</a></li>
	</ul>
</li>
</ul>
</li>
<li id="menu-item-927" class="mega-menu menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-927"><a href="#">PME</a>
<ul class="sub-menu">
	<li id="menu-item-936" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-936"><a href="#">Auto</a>
	<ul class="sub-menu">
		<li id="menu-item-810" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-810"><a href="http://contactlifeseguros.com/pme/auto/auto-frotas/">Auto Frotas</a></li>
		<li id="menu-item-811" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-811"><a href="http://contactlifeseguros.com/pme/auto/moto-frotas/">Moto Frotas</a></li>
	</ul>
</li>
	<li id="menu-item-937" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-937"><a href="#">Pessoas</a>
	<ul class="sub-menu">
		<li id="menu-item-813" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-813"><a href="http://contactlifeseguros.com/pme/pessoas/saude-pme/">Saúde PME</a></li>
		<li id="menu-item-814" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-814"><a href="http://contactlifeseguros.com/pme/pessoas/acidentes-pessoais-pme/">Acidentes Pessoais PME</a></li>
		<li id="menu-item-815" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-815"><a href="http://contactlifeseguros.com/pme/pessoas/viagens-pme/">Viagens PME</a></li>
		<li id="menu-item-816" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-816"><a href="http://contactlifeseguros.com/pme/pessoas/solucoes-acidentes-pme/">Soluções Acidentes PME</a></li>
		<li id="menu-item-817" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-817"><a href="http://contactlifeseguros.com/pme/pessoas/protecao-pme/">Proteção PME</a></li>
	</ul>
</li>
	<li id="menu-item-938" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-938"><a href="#">Acidentes de Trabalho</a>
	<ul class="sub-menu">
		<li id="menu-item-818" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-818"><a href="http://contactlifeseguros.com/pme/pessoas/acidentes-trabalho-pme/">Acidentes Trabalho PME</a></li>
	</ul>
</li>
	<li id="menu-item-939" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-939"><a href="#">Património e Responsabilidades</a>
	<ul class="sub-menu">
		<li id="menu-item-849" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-849"><a href="http://contactlifeseguros.com/pme/patrimonio-e-responsabilidades/seguro-multiriscos/">Seguro Multiriscos</a></li>
		<li id="menu-item-850" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-850"><a href="http://contactlifeseguros.com/pme/patrimonio-e-responsabilidades/equipamentos-electronicos/">Equipamentos Electrónicos</a></li>
		<li id="menu-item-851" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-851"><a href="http://contactlifeseguros.com/pme/patrimonio-e-responsabilidades/responsabilidade-civil/">Responsabilidade Civil</a></li>
		<li id="menu-item-852" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-852"><a href="http://contactlifeseguros.com/pme/patrimonio-e-responsabilidades/mercadorias-pme/">Mercadorias PME</a></li>
	</ul>
</li>
</ul>
</li>
<li id="menu-item-928" class="mega-menu menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-928"><a href="#">Empresas</a>
<ul class="sub-menu">
	<li id="menu-item-940" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-940"><a href="#">Auto</a>
	<ul class="sub-menu">
		<li id="menu-item-890" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-890"><a href="http://contactlifeseguros.com/empresas-2/auto/automovel-frotas-empresas/">Automóvel Frotas Empresas</a></li>
		<li id="menu-item-891" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-891"><a href="http://contactlifeseguros.com/empresas-2/auto/moto-frotas-empresas/">Moto Frotas Empresas</a></li>
	</ul>
</li>
	<li id="menu-item-941" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-941"><a href="#">Pessoas</a>
	<ul class="sub-menu">
		<li id="menu-item-913" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-913"><a href="http://contactlifeseguros.com/empresas-2/pessoas/saude-empresas/">Saúde Empresas</a></li>
		<li id="menu-item-912" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-912"><a href="http://contactlifeseguros.com/empresas-2/pessoas/acidentes-pessoais-empresas/">Acidentes Pessoais Empresas</a></li>
		<li id="menu-item-911" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-911"><a href="http://contactlifeseguros.com/empresas-2/pessoas/viagens-empresas/">Viagens Empresas</a></li>
		<li id="menu-item-910" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-910"><a href="http://contactlifeseguros.com/empresas-2/pessoas/solucoes-acidentes-empresas/">Soluções Acidentes Empresas</a></li>
	</ul>
</li>
	<li id="menu-item-942" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-942"><a href="#">Acidentes de Trabalho</a>
	<ul class="sub-menu">
		<li id="menu-item-916" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-916"><a href="http://contactlifeseguros.com/empresas-2/acidentes-de-trabalho-empresas/acidentes-de-trabalho-empresas/">Acidentes de Trabalho Empresas</a></li>
	</ul>
</li>
	<li id="menu-item-943" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-943"><a href="#">Responsabilidade Civil</a>
	<ul class="sub-menu">
		<li id="menu-item-925" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-925"><a href="http://contactlifeseguros.com/empresas-2/responsabilidade-civil/mercadorias-empresas/">Mercadorias Empresas</a></li>
		<li id="menu-item-924" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-924"><a href="http://contactlifeseguros.com/empresas-2/responsabilidade-civil/eq-electronicos-empresas/">Eq. Electrónicos Empresas</a></li>
		<li id="menu-item-923" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-923"><a href="http://contactlifeseguros.com/empresas-2/responsabilidade-civil/rc-empresas/">RC Empresas</a></li>
	</ul>
</li>
</ul>
</li>
<li id="menu-item-446" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-446"><a href="<%= root_path %>">Simulador</a></li>
<li id="menu-item-74" class="menu-item menu-item-type-post_type menu-item-object-page page_item page-item-68 current_page_item menu-item-74"><a href="http://contactlifeseguros.com/sinistros/">Sinistros</a></li>
<li id="menu-item-73" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-73"><a href="http://contactlifeseguros.com/contactos/">Contactos</a></li>
</ul>						</nav>
					
					
					
										<div id="et_top_search">
						<span id="et_search_icon"></span>
					</div>
					
					<div id="et_mobile_nav_menu">
				<div class="mobile_nav closed">
					<span class="select_page">Select Page</span>
					<span class="mobile_menu_bar mobile_menu_bar_toggle"></span>
				<ul id="mobile_menu" class="et_mobile_menu"><li id="menu-item-100" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-100 et_first_mobile_item"><a href="http://contactlifeseguros.com/sample-page/">Bem-Vindo</a></li>
<li id="menu-item-78" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-78"><a href="http://contactlifeseguros.com/quem-somos/">Quem Somos</a>
<ul class="sub-menu">
	<li id="menu-item-76" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-76"><a href="http://contactlifeseguros.com/quem-somos/seguradoras/">Seguradoras</a></li>
	<li id="menu-item-90" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-90"><a href="http://contactlifeseguros.com/quem-somos/noticias/">Notícias</a></li>
	<li id="menu-item-711" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-711"><a href="http://contactlifeseguros.com/quem-somos/informacao-legal/">Informação Legal</a></li>
</ul>
</li>
<li id="menu-item-926" class="mega-menu menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-926"><a href="#">Particulares</a>
<ul class="sub-menu">
	<li id="menu-item-929" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-929"><a href="#">Auto</a>
	<ul class="sub-menu">
		<li id="menu-item-619" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-619"><a href="http://contactlifeseguros.com/particulares-3/auto/auto/">Auto</a></li>
		<li id="menu-item-620" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-620"><a href="http://contactlifeseguros.com/particulares-3/auto/moto/">Moto</a></li>
	</ul>
</li>
	<li id="menu-item-930" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-930"><a href="#">Saúde</a>
	<ul class="sub-menu">
		<li id="menu-item-622" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-622"><a href="http://contactlifeseguros.com/particulares-3/saude/saude/">Saúde</a></li>
		<li id="menu-item-623" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-623"><a href="http://contactlifeseguros.com/particulares-3/saude/saude-55/">Saúde 55 Mais</a></li>
		<li id="menu-item-624" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-624"><a href="http://contactlifeseguros.com/particulares-3/saude/saude-dental/">Saúde Dental</a></li>
	</ul>
</li>
	<li id="menu-item-931" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-931"><a href="#">Habitação</a>
	<ul class="sub-menu">
		<li id="menu-item-626" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-626"><a href="http://contactlifeseguros.com/particulares-3/habitacao/casa/">Casa</a></li>
		<li id="menu-item-627" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-627"><a href="http://contactlifeseguros.com/particulares-3/habitacao/condominio/">Condomínio</a></li>
	</ul>
</li>
	<li id="menu-item-932" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-932"><a href="#">Poupança</a>
	<ul class="sub-menu">
		<li id="menu-item-629" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-629"><a href="http://contactlifeseguros.com/particulares-3/poupanca/ppr-activo/">PPR Activo</a></li>
		<li id="menu-item-630" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-630"><a href="http://contactlifeseguros.com/particulares-3/poupanca/renda-mais/">Renda Mais</a></li>
		<li id="menu-item-631" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-631"><a href="http://contactlifeseguros.com/particulares-3/poupanca/garantia-mais/">Garantia Mais</a></li>
		<li id="menu-item-632" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-632"><a href="http://contactlifeseguros.com/particulares-3/poupanca/poupanca-ativo/">Poupança Ativo</a></li>
	</ul>
</li>
	<li id="menu-item-933" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-933"><a href="#">Seguros de Vida e Acidentes Pessoais</a>
	<ul class="sub-menu">
		<li id="menu-item-676" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-676"><a href="http://contactlifeseguros.com/particulares-3/seguros-de-vida-e-acidentes-pessoais/familia/">Família</a></li>
		<li id="menu-item-677" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-677"><a href="http://contactlifeseguros.com/particulares-3/seguros-de-vida-e-acidentes-pessoais/acidentes-pessoais/">Acidentes Pessoais</a></li>
		<li id="menu-item-678" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-678"><a href="http://contactlifeseguros.com/particulares-3/seguros-de-vida-e-acidentes-pessoais/credito-de-vida/">Crédito de Vida</a></li>
		<li id="menu-item-679" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-679"><a href="http://contactlifeseguros.com/particulares-3/seguros-de-vida-e-acidentes-pessoais/protecao-infantil/">Proteção Infantil</a></li>
	</ul>
</li>
	<li id="menu-item-934" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-934"><a href="#">Acidentes de Trabalho</a>
	<ul class="sub-menu">
		<li id="menu-item-706" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-706"><a href="http://contactlifeseguros.com/particulares-3/acidentes-de-trabalho/empresarios/">Empresários</a></li>
		<li id="menu-item-707" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-707"><a href="http://contactlifeseguros.com/particulares-3/acidentes-de-trabalho/profissionais-liberais/">Profissionais Liberais</a></li>
		<li id="menu-item-708" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-708"><a href="http://contactlifeseguros.com/particulares-3/acidentes-de-trabalho/servicos-domesticos/">Serviços Domésticos</a></li>
	</ul>
</li>
	<li id="menu-item-935" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-935"><a href="#">Responsabilidades</a>
	<ul class="sub-menu">
		<li id="menu-item-747" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-747"><a href="http://contactlifeseguros.com/particulares-3/responsabilidades/caca-e-armas/">Caça e Armas</a></li>
		<li id="menu-item-748" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-748"><a href="http://contactlifeseguros.com/particulares-3/responsabilidades/rc-particulares/">RC Particulares</a></li>
		<li id="menu-item-749" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-749"><a href="http://contactlifeseguros.com/particulares-3/responsabilidades/embarcacoes-de-recreio/">Embarcações de Receiro</a></li>
	</ul>
</li>
</ul>
</li>
<li id="menu-item-927" class="mega-menu menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-927"><a href="#">PME</a>
<ul class="sub-menu">
	<li id="menu-item-936" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-936"><a href="#">Auto</a>
	<ul class="sub-menu">
		<li id="menu-item-810" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-810"><a href="http://contactlifeseguros.com/pme/auto/auto-frotas/">Auto Frotas</a></li>
		<li id="menu-item-811" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-811"><a href="http://contactlifeseguros.com/pme/auto/moto-frotas/">Moto Frotas</a></li>
	</ul>
</li>
	<li id="menu-item-937" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-937"><a href="#">Pessoas</a>
	<ul class="sub-menu">
		<li id="menu-item-813" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-813"><a href="http://contactlifeseguros.com/pme/pessoas/saude-pme/">Saúde PME</a></li>
		<li id="menu-item-814" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-814"><a href="http://contactlifeseguros.com/pme/pessoas/acidentes-pessoais-pme/">Acidentes Pessoais PME</a></li>
		<li id="menu-item-815" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-815"><a href="http://contactlifeseguros.com/pme/pessoas/viagens-pme/">Viagens PME</a></li>
		<li id="menu-item-816" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-816"><a href="http://contactlifeseguros.com/pme/pessoas/solucoes-acidentes-pme/">Soluções Acidentes PME</a></li>
		<li id="menu-item-817" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-817"><a href="http://contactlifeseguros.com/pme/pessoas/protecao-pme/">Proteção PME</a></li>
	</ul>
</li>
	<li id="menu-item-938" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-938"><a href="#">Acidentes de Trabalho</a>
	<ul class="sub-menu">
		<li id="menu-item-818" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-818"><a href="http://contactlifeseguros.com/pme/pessoas/acidentes-trabalho-pme/">Acidentes Trabalho PME</a></li>
	</ul>
</li>
	<li id="menu-item-939" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-939"><a href="#">Património e Responsabilidades</a>
	<ul class="sub-menu">
		<li id="menu-item-849" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-849"><a href="http://contactlifeseguros.com/pme/patrimonio-e-responsabilidades/seguro-multiriscos/">Seguro Multiriscos</a></li>
		<li id="menu-item-850" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-850"><a href="http://contactlifeseguros.com/pme/patrimonio-e-responsabilidades/equipamentos-electronicos/">Equipamentos Electrónicos</a></li>
		<li id="menu-item-851" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-851"><a href="http://contactlifeseguros.com/pme/patrimonio-e-responsabilidades/responsabilidade-civil/">Responsabilidade Civil</a></li>
		<li id="menu-item-852" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-852"><a href="http://contactlifeseguros.com/pme/patrimonio-e-responsabilidades/mercadorias-pme/">Mercadorias PME</a></li>
	</ul>
</li>
</ul>
</li>
<li id="menu-item-928" class="mega-menu menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-928"><a href="#">Empresas</a>
<ul class="sub-menu">
	<li id="menu-item-940" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-940"><a href="#">Auto</a>
	<ul class="sub-menu">
		<li id="menu-item-890" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-890"><a href="http://contactlifeseguros.com/empresas-2/auto/automovel-frotas-empresas/">Automóvel Frotas Empresas</a></li>
		<li id="menu-item-891" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-891"><a href="http://contactlifeseguros.com/empresas-2/auto/moto-frotas-empresas/">Moto Frotas Empresas</a></li>
	</ul>
</li>
	<li id="menu-item-941" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-941"><a href="#">Pessoas</a>
	<ul class="sub-menu">
		<li id="menu-item-913" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-913"><a href="http://contactlifeseguros.com/empresas-2/pessoas/saude-empresas/">Saúde Empresas</a></li>
		<li id="menu-item-912" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-912"><a href="http://contactlifeseguros.com/empresas-2/pessoas/acidentes-pessoais-empresas/">Acidentes Pessoais Empresas</a></li>
		<li id="menu-item-911" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-911"><a href="http://contactlifeseguros.com/empresas-2/pessoas/viagens-empresas/">Viagens Empresas</a></li>
		<li id="menu-item-910" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-910"><a href="http://contactlifeseguros.com/empresas-2/pessoas/solucoes-acidentes-empresas/">Soluções Acidentes Empresas</a></li>
	</ul>
</li>
	<li id="menu-item-942" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-942"><a href="#">Acidentes de Trabalho</a>
	<ul class="sub-menu">
		<li id="menu-item-916" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-916"><a href="http://contactlifeseguros.com/empresas-2/acidentes-de-trabalho-empresas/acidentes-de-trabalho-empresas/">Acidentes de Trabalho Empresas</a></li>
	</ul>
</li>
	<li id="menu-item-943" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-943"><a href="#">Responsabilidade Civil</a>
	<ul class="sub-menu">
		<li id="menu-item-925" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-925"><a href="http://contactlifeseguros.com/empresas-2/responsabilidade-civil/mercadorias-empresas/">Mercadorias Empresas</a></li>
		<li id="menu-item-924" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-924"><a href="http://contactlifeseguros.com/empresas-2/responsabilidade-civil/eq-electronicos-empresas/">Eq. Electrónicos Empresas</a></li>
		<li id="menu-item-923" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-923"><a href="http://contactlifeseguros.com/empresas-2/responsabilidade-civil/rc-empresas/">RC Empresas</a></li>
	</ul>
</li>
</ul>
</li>
<li id="menu-item-446" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-446"><a href="http://simulador.contactlifeseguros.com/">Simulador</a></li>
<li id="menu-item-74" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-68 current_page_item menu-item-74"><a href="http://contactlifeseguros.com/sinistros/">Sinistros</a></li>
<li id="menu-item-73" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-73"><a href="http://contactlifeseguros.com/contactos/">Contactos</a></li>
</ul></div>
			</div>				</div> <!-- #et-top-navigation -->
			</div> <!-- .container -->
			<div class="et_search_outer">
				<div class="container et_search_form_container">
					<form role="search" method="get" class="et-search-form" action="http://contactlifeseguros.com/">
					<input type="search" class="et-search-field" placeholder="Search …" value="" name="s" title="Search for:">					</form>
					<span class="et_close_search_field"></span>
				</div>
			</div>
		</header>
