<head>
	<meta charset="UTF-8">
			
	
	<link rel="pingback" href="http://contactlifeseguros.com/xmlrpc.php">

		<!--[if lt IE 9]>
	<script src="http://contactlifeseguros.com/wp-content/themes/Divi/js/html5.js" type="text/javascript"></script>
	<![endif]-->

<%= stylesheet_link_tag 'divi' %>
<%= stylesheet_link_tag 'application', media: 'all' %>
<%= javascript_include_tag 'application' %>

	<script type="text/javascript">
		document.documentElement.className = 'js';
	</script>

	<title>Sinistros | Contactlife</title>
<link rel="alternate" type="application/rss+xml" title="Contactlife » Feed" href="http://contactlifeseguros.com/feed/">
<link rel="alternate" type="application/rss+xml" title="Contactlife » Comments Feed" href="http://contactlifeseguros.com/comments/feed/">
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"http:\/\/contactlifeseguros.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.4.4"}};
			!function(a,b,c){function d(a){var c,d,e,f=b.createElement("canvas"),g=f.getContext&&f.getContext("2d"),h=String.fromCharCode;return g&&g.fillText?(g.textBaseline="top",g.font="600 32px Arial","flag"===a?(g.fillText(h(55356,56806,55356,56826),0,0),f.toDataURL().length>3e3):"diversity"===a?(g.fillText(h(55356,57221),0,0),c=g.getImageData(16,16,1,1).data,g.fillText(h(55356,57221,55356,57343),0,0),c=g.getImageData(16,16,1,1).data,e=c[0]+","+c[1]+","+c[2]+","+c[3],d!==e):("simple"===a?g.fillText(h(55357,56835),0,0):g.fillText(h(55356,57135),0,0),0!==g.getImageData(16,16,1,1).data[0])):!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g;c.supports={simple:d("simple"),flag:d("flag"),unicode8:d("unicode8"),diversity:d("diversity")},c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.simple&&c.supports.flag&&c.supports.unicode8&&c.supports.diversity||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
		</script><script src="http://contactlifeseguros.com/wp-includes/js/wp-emoji-release.min.js?ver=4.4.4" type="text/javascript"></script>
		<meta content="Divi v.2.7.5" name="generator"><style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel="stylesheet" id="bxslider-css-css" href="http://contactlifeseguros.com/wp-content/plugins/kiwi-logo-carousel/third-party/jquery.bxslider/jquery.bxslider.css?ver=4.4.4" type="text/css" media="">
<link rel="stylesheet" id="kiwi-logo-carousel-styles-css" href="http://contactlifeseguros.com/wp-content/plugins/kiwi-logo-carousel/custom-styles.css?ver=4.4.4" type="text/css" media="">
<link rel="stylesheet" id="cff-css" href="http://contactlifeseguros.com/wp-content/plugins/custom-facebook-feed/css/cff-style.css?ver=2.3.10" type="text/css" media="all">
<link rel="stylesheet" id="cff-font-awesome-css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css?ver=4.2.0" type="text/css" media="all">
<link rel="stylesheet" id="wp-email-subscription-popup-css" href="http://contactlifeseguros.com/wp-content/plugins/email-subscribe/css/wp-email-subscription-popup.css?ver=4.4.4" type="text/css" media="all">
<link rel="stylesheet" id="subscribe-popup-css" href="http://contactlifeseguros.com/wp-content/plugins/email-subscribe/css/subscribe-popup.css?ver=4.4.4" type="text/css" media="all">
<link rel="stylesheet" id="divi-fonts-css" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;subset=latin,latin-ext" type="text/css" media="all">
<link rel="stylesheet" id="divi-style-css" href="http://contactlifeseguros.com/wp-content/themes/Divi/style.css?ver=2.7.5" type="text/css" media="all">
<link rel="stylesheet" id="et-shortcodes-css-css" href="http://contactlifeseguros.com/wp-content/themes/Divi/epanel/shortcodes/css/shortcodes.css?ver=2.7.5" type="text/css" media="all">
<link rel="stylesheet" id="et-shortcodes-responsive-css-css" href="http://contactlifeseguros.com/wp-content/themes/Divi/epanel/shortcodes/css/shortcodes_responsive.css?ver=2.7.5" type="text/css" media="all">
<link rel="stylesheet" id="magnific-popup-css" href="http://contactlifeseguros.com/wp-content/themes/Divi/includes/builder/styles/magnific_popup.css?ver=2.7.5" type="text/css" media="all">
<link rel="stylesheet" id="wpmu-animate-min-css-css" href="http://contactlifeseguros.com/wp-content/plugins/wordpress-popup/css/animate.min.css?ver=4.4.4" type="text/css" media="all">
<script type="text/javascript" src="http://contactlifeseguros.com/wp-includes/js/jquery/jquery.js?ver=1.11.3"></script>
<script type="text/javascript" src="http://contactlifeseguros.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1"></script>
<script type="text/javascript" src="http://contactlifeseguros.com/wp-content/plugins/email-subscribe/js/wp-email-subscription-popup-js.js?ver=4.4.4"></script>
<script type="text/javascript" src="http://contactlifeseguros.com/wp-content/plugins/email-subscribe/js/subscribe-popup.js?ver=4.4.4"></script>
<link rel="https://api.w.org/" href="http://contactlifeseguros.com/wp-json/">
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://contactlifeseguros.com/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://contactlifeseguros.com/wp-includes/wlwmanifest.xml"> 
<meta name="generator" content="WordPress 4.4.4">
<link rel="canonical" href="http://contactlifeseguros.com/sinistros/">
<link rel="shortlink" href="http://contactlifeseguros.com/?p=68">
<link rel="alternate" type="application/json+oembed" href="http://contactlifeseguros.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fcontactlifeseguros.com%2Fsinistros%2F">
<link rel="alternate" type="text/xml+oembed" href="http://contactlifeseguros.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fcontactlifeseguros.com%2Fsinistros%2F&amp;format=xml">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">		<style id="theme-customizer-css">
													.woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button, .woocommerce-message, .woocommerce-error, .woocommerce-info { background: #8ad127 !important; }
			#et_search_icon:hover, .mobile_menu_bar:before, .mobile_menu_bar:after, .et_toggle_slide_menu:after, .et-social-icon a:hover, .et_pb_sum, .et_pb_pricing li a, .et_pb_pricing_table_button, .et_overlay:before, .entry-summary p.price ins, .woocommerce div.product span.price, .woocommerce-page div.product span.price, .woocommerce #content div.product span.price, .woocommerce-page #content div.product span.price, .woocommerce div.product p.price, .woocommerce-page div.product p.price, .woocommerce #content div.product p.price, .woocommerce-page #content div.product p.price, .et_pb_member_social_links a:hover, .woocommerce .star-rating span:before, .woocommerce-page .star-rating span:before, .et_pb_widget li a:hover, .et_pb_filterable_portfolio .et_pb_portfolio_filters li a.active, .et_pb_filterable_portfolio .et_pb_portofolio_pagination ul li a.active, .et_pb_gallery .et_pb_gallery_pagination ul li a.active, .wp-pagenavi span.current, .wp-pagenavi a:hover, .nav-single a, .posted_in a { color: #8ad127; }
			.et_pb_contact_submit, .et_password_protected_form .et_submit_button, .et_pb_bg_layout_light .et_pb_newsletter_button, .comment-reply-link, .form-submit input, .et_pb_bg_layout_light .et_pb_promo_button, .et_pb_bg_layout_light .et_pb_more_button, .woocommerce a.button.alt, .woocommerce-page a.button.alt, .woocommerce button.button.alt, .woocommerce-page button.button.alt, .woocommerce input.button.alt, .woocommerce-page input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce-page #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button { color: #8ad127; }
			.footer-widget h4 { color: #8ad127; }
			.et-search-form, .nav li ul, .et_mobile_menu, .footer-widget li:before, .et_pb_pricing li:before, blockquote { border-color: #8ad127; }
			.et_pb_counter_amount, .et_pb_featured_table .et_pb_pricing_heading, .et_quote_content, .et_link_content, .et_audio_content, .et_pb_post_slider.et_pb_bg_layout_dark, .et_slide_in_menu_container { background-color: #8ad127; }
									a { color: #8ad127; }
													#top-header, #et-secondary-nav li ul { background-color: #8ad127; }
																			#top-menu li a { font-size: 13px; }
			body.et_vertical_nav .container.et_search_form_container .et-search-form input { font-size: 13px !important; }
		
		
					#top-menu li.current-menu-ancestor > a, #top-menu li.current-menu-item > a,
			.et_color_scheme_red #top-menu li.current-menu-ancestor > a, .et_color_scheme_red #top-menu li.current-menu-item > a,
			.et_color_scheme_pink #top-menu li.current-menu-ancestor > a, .et_color_scheme_pink #top-menu li.current-menu-item > a,
			.et_color_scheme_orange #top-menu li.current-menu-ancestor > a, .et_color_scheme_orange #top-menu li.current-menu-item > a,
			.et_color_scheme_green #top-menu li.current-menu-ancestor > a, .et_color_scheme_green #top-menu li.current-menu-item > a { color: #8ad127; }
													#main-footer .footer-widget h4 { color: #8ad127; }
							.footer-widget li:before { border-color: #8ad127; }
							.footer-widget, .footer-widget li, .footer-widget li a, #footer-info { font-size: 13px; }
				.footer-widget .et_pb_widget div, .footer-widget .et_pb_widget ul, .footer-widget .et_pb_widget ol, .footer-widget .et_pb_widget label { line-height: 1.4em ; }#footer-widgets .footer-widget li:before { top: 6.1px; }#et-footer-nav .bottom-nav li.current-menu-item a { color: #8ad127; }										
		
																														
		@media only screen and ( min-width: 981px ) {
																.footer-widget h4 { font-size: 16px; }
										.et_header_style_left #et-top-navigation, .et_header_style_split #et-top-navigation  { padding: 62px 0 0 0; }
				.et_header_style_left #et-top-navigation nav > ul > li > a, .et_header_style_split #et-top-navigation nav > ul > li > a { padding-bottom: 62px; }
				.et_header_style_split .centered-inline-logo-wrap { width: 124px; margin: -124px 0; }
				.et_header_style_split .centered-inline-logo-wrap #logo { max-height: 124px; }
				.et_pb_svg_logo.et_header_style_split .centered-inline-logo-wrap #logo { height: 124px; }
				.et_header_style_centered #top-menu > li > a { padding-bottom: 22px; }
				.et_header_style_slide #et-top-navigation, .et_header_style_fullscreen #et-top-navigation { padding: 53px 0 53px 0 !important; }
									.et_header_style_centered #main-header .logo_container { height: 124px; }
																							.et_header_style_centered.et_hide_primary_logo #main-header:not(.et-fixed-header) .logo_container, .et_header_style_centered.et_hide_fixed_logo #main-header.et-fixed-header .logo_container { height: 22.32px; }
																.et-fixed-header#top-header, .et-fixed-header#top-header #et-secondary-nav li ul { background-color: #8cd856; }
													.et-fixed-header #top-menu li a { font-size: 13px; }
													.et-fixed-header #top-menu li.current-menu-ancestor > a,
				.et-fixed-header #top-menu li.current-menu-item > a { color: #8ad127 !important; }
						
					}
		@media only screen and ( min-width: 1350px) {
			.et_pb_row { padding: 27px 0; }
			.et_pb_section { padding: 54px 0; }
			.single.et_pb_pagebuilder_layout.et_full_width_page .et_post_meta_wrapper { padding-top: 81px; }
			.et_pb_section.et_pb_section_first { padding-top: inherit; }
			.et_pb_fullwidth_section { padding: 0; }
		}
		@media only screen and ( max-width: 980px ) {
																				}
		@media only screen and ( max-width: 767px ) {
														}
	</style>

	
	
	<style id="module-customizer-css">
			</style>

	<link rel="icon" href="http://contactlifeseguros.com/wp-content/uploads/2016/02/logo_contact_life-11-150x150.png" sizes="32x32">
<link rel="icon" href="http://contactlifeseguros.com/wp-content/uploads/2016/02/logo_contact_life-11.png" sizes="192x192">
<link rel="apple-touch-icon-precomposed" href="http://contactlifeseguros.com/wp-content/uploads/2016/02/logo_contact_life-11.png">
<meta name="msapplication-TileImage" content="http://contactlifeseguros.com/wp-content/uploads/2016/02/logo_contact_life-11.png">
<style type="text/css" id="et-custom-css">
.menu-left {
padding-left: 150 px;
}
</style><style id="fit-vids-style">.fluid-width-video-wrapper{width:100%;position:relative;padding:0;}.fluid-width-video-wrapper iframe,.fluid-width-video-wrapper object,.fluid-width-video-wrapper embed {position:absolute;top:0;left:0;width:100%;height:100%;}</style><style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -100px !important;
    width: 200px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}
</style></head>
