<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
  </head>
  <body id='pdf' onload='number_pages'>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
