<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="en-US">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html lang="en-US">
<!--<![endif]-->
<%= render 'layouts/head' %>
<body class="home page page-id-2 page-template-default et_pb_button_helper_class et_fullwidth_nav et_fixed_nav et_show_nav et_cover_background et_pb_gutter windows et_pb_gutters3 et_primary_nav_dropdown_animation_expand et_secondary_nav_dropdown_animation_fade et_pb_footer_columns4 et_header_style_left et_pb_pagebuilder_layout et_full_width_page chrome wpb-js-composer js-comp-ver-4.8 vc_responsive">
  <div id="page-container">

  
    <%= render 'layouts/header' %>
     <!-- #main-header -->

    <div id="et-main-area">
      <div id="main-content">


        <div class="et_pb_row">
          <div id="content-area" class="clearfix">
            
              <article id="post-66" class="post-66 page type-page status-publish hentry">

                <div class="entry-content">
                  <% if notice or alert %>
                    <div id="notice">
                      <% if notice %>
                        <div data-alert class="alert-box success radius card-5">
                          <p class="notice"><%= notice %></p>
                          <a href="#" class="close">&times;</a>
                        </div>
                      <% end %>
                      <% if alert %>
                        <div data-alert class="alert-box alert radius card-5">
                          <p class="alert"><%= alert %></p>
                          <a href="#" class="close">&times;</a>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                  <%= yield %>
                </div> <!-- .entry-content -->

              
              </article> <!-- .et_pb_post -->


          </div> <!-- #content-area -->
        </div> <!-- .container -->


      </div> <!-- #main-content -->

      <%= render 'layouts/footer' %>
       <!-- #main-footer -->
    </div> <!-- #et-main-area -->


  </div> <!-- #page-container -->

  <%= render 'layouts/extra' %>
</body>
</html>
